
<section>
	<div class="gbs-video-home position-relative">
		<div class="video-home position-relative">
			<%= image_tag("the-art-banner.jpg", alt: "") %>
		</div>
		<div class="banner-content inner-banner-content text-center">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="banner-caption">
							<div class="page-heading">
								<h2>The Art</h2>
							</div>
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb custom-breadcrumb bg-transparent d-flex m-0 p-0 justify-content-center">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">The Art</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section>
	<div class="gbs-top-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-8">
					<div class="about-text">
						<div class="gbs-media">
							<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<%= image_tag("sports-slide-1.jpg", alt: "") %>
									</div>
									<div class="carousel-item">
										<%= image_tag("sports-slide-2.jpg", alt: "") %>
									</div>
									<div class="carousel-item">
										<%= image_tag("student-running.jpg", alt: "") %>
									</div>
								</div>
								<div class="slider-arrow">
									<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								</div>
							</div>
						</div>

						<div class="highlighted-text">
							<p>GBS School is an international School of the Sacred Heart. The Society of the Sacred Heart is an international congregation of Catholic religious women, established by Saint Madeleine Sophie Barat in France in 1800. One
							of 200 schools in 40 countries, GBS was established in 1920 with just five young girls in March and another two in August.</p>
						</div>


						<ul>
							<li class="text-block">
								<h4>Music</h4>
								<p>Music is offered as a classroom subject in Years 7 to 12. The Program is designed to support student learning though listening, composing and performing activities. Classroom music students develop skills on a variety
									of instruments and have access to a range of composing and audio technologies. Learning is supplemented by regular excursions to the Queensland Performing Arts Centre, Brisbane Powerhouse and participation in private
								music lessons and the Co-curricula Ensemble program.</p>

								<div class="sub-blocks mt-lg-4 mt-3">
									<h5>Co-curricula performance opportunities</h5>
									<p>Stuartholme offers a broad range of musical performance opportunities. Participation fosters a sense of perseverance and achievement; improving responsibility, time management and organisational skills. With over
										250 instrumental and vocal lessons taking place each week and 9 ensembles on offer, music is a bustling hub of activity. Students are encouraged to perform in at least one major event each year and may also
									participate in workshops, tours and performances outside School-hours.</p>
								</div>

								<div class="sub-blocks mt-lg-4 mt-3">
									<h5>Ensembles</h5>
									<p>Students are invited to participate in the School’s music groups and ensembles. Rehearsals are held weekly and all girls are required to make a year-long commitment. Groups and ensembles offered include:</p>

									<div class="sports-activities">
										<ul>
											<li>Celtic Ensemble</li>
											<li>Concert Band</li>
											<li>Flute Ensemble</li>
											<li>Jazz Band</li>
											<li>Joigny String Orchestra</li>
											<li>Joigny Voices</li>
											<li>Percussion Ensemble</li>
											<li>Stuartholme on Stage</li>
											<li>Year 7 Choir</li>
										</ul>
									</div>
								</div>


								<div class="sub-blocks mt-lg-4 mt-3">
									<h5>Private music tuition</h5>
									<p>Students can participate in private individual and/or group music lessons and sit for external exams. View the full list of instruments offered in the Co-curricula Handbook.</p>
								</div>

							</li>

							<li class="text-block">
								<h4>Art</h4>
								<p>Stuartholme offers students the opportunity to participate in art classes to advance their knowledge of art and develop their skills through workshops, gallery visits and opportunities to work with professional artists.
									For more information on Art at Stuartholme, view the Co-curricula Handbook below.

								</p>
							</li>

							<li class="text-block">
								<h4>Drama</h4>
								<p>Drama plays a major part in the life of Stuartholme and is enjoyed by both performers and audience members alike. Stuartholme’s Co-curricular Drama Club is an active club in the school community that offers students
									a variety of theatrical opportunities. Drama Club has a different focus each semester and therefore activities do vary. The Club seeks to enrich and advance students knowledge of drama and performance skills through
								a series of workshops, performances and theatre visits.</p>
								<p>Participation in Drama Club is run on a semester basis to allow students flexibility with other co-curricula commitments.</p>

								<div class="sub-blocks mt-lg-4 mt-3">
									<h5>Theatresports</h5>
									<p>Theatresports are improvisational games designed to develop improvisation and play building skills. Members will learn foundational improvisation skills and learn how to play Theatresports games with the purpose
									of entertaining an audience.</p>
									<p>Students have no script to work from yet are required to spontaneously create stories that are engaging and provoking while simultaneously adhering to a set of conventions and rules for their improvisations. Most
									importantly – It’s about having fun. Theatresports encourages risk-taking in a safe and supportive environment because it allows students to be creative while being brave and finding their own voice.</p>
									<p>Drama Club members are then given an opportunity to trial to become a member of the Stuartholme Theatresports team which competes as part of the Queensland Youth Theatresports competition.</p>
								</div>

								<div class="sub-blocks mt-lg-4 mt-3">
									<h5>Junior and Senior Drama Club</h5>
									<p>Junior Dram Club (Years 7 to 10) participants will focus on creating a performance for Queensland Theatre’s (QT) Scene Project. Members will follow a professional style production schedule, devising, rehearsing
										and executing a polished performance. Throughout the creative process Junior members will experience play building and acting workshops in collaboration with Queensland Theatre’s resident directors in order
									to provide further depth to their performance.</p>
									<p>Students will then perform at The Billie Brown Studio for an audience of Queensland Theatre actors, directors and other school students. After all the student performances are completed, a cast of professional actors
										will take the stage and finish the day by presenting their own interpretation of the performance and leading the groups in a forum, Q&A and discussion. This is an incredible opportunity for students to not only
									share their work but perform on a professional stage for an audience of peers and professional actors.</p>
									<p>Senior Drama Club (Years 11 and 12) participants focus on competing in the Queensland Youth Shakespeare Festival (Shakefest). Stuartholme teams have been incredibly successful in the Shakefest competition becoming
										State finalists consecutively over the past 6 years. Senior Drama Club members read, revise and recontextualise Shakespeare’s most famous monologues, duologues and scenes to create new and contemporary style
										performances. Students then compete against other like minded Drama students at Regional Finals. If successful, Senior Drama Club members will go on to compete at the State Finals competition held at the Judith
										Wright Centre. From the State Finals competitors have the opportunity to audition for a Shake and Stir Production. Stuartholme students have successfully been cast in roles for this production over the last
									4 years.</p>
									<p>For more information on Drama at Stuartholme please view the Co-curricula Handbook below.</p>
								</div>

							</li>

							<li class="text-block">
								<h4>Private Speech and Drama</h4>
								<p>Students can participate in private speech and drama lessons to build their skills in communication, speech clarity and performance. Lessons also help build confidence in delivering oral language presentations. Students
								have the opportunity to take AMEB and Trinity College grade exams if they wish. For more information on Private Speech and Drama at Stuartholme, view the Co-curricula Handbook below.</p>
							</li>
						</ul>

						<div class="policies-list">
							<li>
								<div class="policy-name">Co-Curricular Handbook</div>
								<a href="#" class="policy-download smooth"><span><%= image_tag("policy-pdf.svg", alt: "") %></span>Download</a>
							</li>
						</div>


					</div>
				</div>

				<%= render partial: 'partials/beyond_classroom' %>
				<!-- @end side navs -->
			</div>
		</div>
	</div>
</section>


<section>
	<div class="tour-categories section-padding">
		<div class="container">
			<div class="row">

				<div class="col-md-6">
					<div class="enrol-now tour-box position-relative">
						<div class="tour-image default-overlay">
							<%= image_tag("enroll-now.jpg", alt: "") %>
						</div>
						<div class="tour-text">
							<div class="tour text-center">
								<h3>Enrol Now</h3>
								<p>Learn everything you need to know about enrolling your daughter.</p>
								<div class="enrol-action">
									<a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">Enrolment Process</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- @end enrol -->


				<div class="col-md-6">
					<div class="book-your-tour tour-box position-relative">
						<div class="tour-image default-overlay">
							<%= image_tag("take-tour.jpg", alt: "") %>
						</div>
						<div class="tour-text">
							<div class="tour text-center">
								<h3>Book a Tour</h3>
								<p>Learn everything you need to know about enrolling your daughter.</p>
								<div class="enrol-action">
									<a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">Register Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- @end enrol -->


			</div>
		</div>
	</div>
</section>
