<section>
  <div class="gbs-video-home position-relative">
    <div class="video-home position-relative">
      <%= image_tag("about-banner.jpg", alt: "") %>
    </div>
    <div class="banner-content inner-banner-content text-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner-caption">
              <div class="page-heading">
                <h2>School Policies</h2>
              </div>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb custom-breadcrumb bg-transparent d-flex m-0 p-0 justify-content-center">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">School Policies</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="gbs-top-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-8 col-md-8">
          <div class="about-text">
            <div class="gbs-media">
              <%= image_tag("school-policies.jpg", alt: "") %>
            </div>

            <div class="highlighted-text">
              <p>Stuartholme School is an international School of the Sacred Heart. The Society of the Sacred Heart is an international congregation of Catholic religious women, established by Saint Madeleine Sophie Barat in France in 1800.
              One of 200 schools in 40 countries, Stuartholme was established in 1920 with just five young girls in March and another two in August.</p>
            </div>

            <p>During World War II, Stuartholme became the 42nd General Hospital of the United States Army. Unfortunately, it was not possible for students to stay at the School, so the School was packed up and moved firstly to Canungra and
            then at Southport.</p>

            <ul class="policies-list mt-lg-5 mt-md-4 mt-3">
              <li>
                <div class="policy-name">Enrolment Policy</div>
                <a href="#" class="policy-download smooth"><span><%= image_tag("policy-pdf.svg", alt: "") %></span> Download</a>
              </li>

              <li>
                <div class="policy-name">Enrolment Policy</div>
                <a href="#" class="policy-download smooth"><span><%= image_tag("policy-pdf.svg", alt: "") %></span> Download</a>
              </li>

              <li>
                <div class="policy-name">Enrolment Policy</div>
                <a href="#" class="policy-download smooth"><span><%= image_tag("policy-pdf.svg", alt: "") %></span> Download</a>
              </li>

              <li>
                <div class="policy-name">Enrolment Policy</div>
                <a href="#" class="policy-download smooth"><span><%= image_tag("policy-pdf.svg", alt: "") %></span> Download</a>
              </li>

              <li>
                <div class="policy-name">Enrolment Policy</div>
                <a href="#" class="policy-download smooth"><span><%= image_tag("policy-pdf.svg", alt: "") %></span> Download</a>
              </li>

              <li>
                <div class="policy-name">Enrolment Policy</div>
                <a href="#" class="policy-download smooth"><span><%= image_tag("policy-pdf.svg", alt: "") %></span> Download</a>
              </li>

              <li>
                <div class="policy-name">Enrolment Policy</div>
                <a href="#" class="policy-download smooth"><span><%= image_tag("policy-pdf.svg", alt: "") %></span> Download</a>
              </li>

              <li>
                <div class="policy-name">Enrolment Policy</div>
                <a href="#" class="policy-download smooth"><span><%= image_tag("policy-pdf.svg", alt: "") %></span> Download</a>
              </li>
            </ul>


          </div>
        </div>

        <%= render partial: 'partials/our_school' %>
        <!-- @end side navs -->
      </div>
    </div>
  </div>
</section>


<section>
  <div class="tour-categories section-padding">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <div class="enrol-now tour-box position-relative">
            <div class="tour-image default-overlay">
              <%= image_tag("enroll-now.jpg", alt: "") %>
            </div>
            <div class="tour-text">
              <div class="tour text-center">
                <h3>Enrol Now</h3>
                <p>Learn everything you need to know about enrolling your daughter.</p>
                <div class="enrol-action">
                  <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">Enrolment Process</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- @end enrol -->


        <div class="col-md-6">
          <div class="book-your-tour tour-box position-relative">
            <div class="tour-image default-overlay">
              <%= image_tag("take-tour.jpg", alt: "") %>
            </div>
            <div class="tour-text">
              <div class="tour text-center">
                <h3>Book a Tour</h3>
                <p>Learn everything you need to know about enrolling your daughter.</p>
                <div class="enrol-action">
                  <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">Register Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- @end enrol -->


      </div>
    </div>
  </div>
</section>

