
<section>
    <div class="gbs-video-home position-relative">
        <div class="video-home position-relative">
            <%= image_tag("about-banner.jpg", alt: "") %>
        </div>
        <div class="banner-content inner-banner-content text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-caption">
                            <div class="page-heading">
                                <h2>Our History</h2>
                            </div>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb custom-breadcrumb bg-transparent d-flex m-0 p-0 justify-content-center">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">history</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="gbs-top-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-8">
                    <div class="about-text">
                        <div class="gbs-media">
                            <%= image_tag("classmates-students.jpg", alt: "") %>
                        </div>

                        <div class="highlighted-text">
                            <p>Stuartholme School is an international School of the Sacred Heart. The Society of the Sacred Heart is an international congregation of Catholic religious women, established by Saint Madeleine Sophie Barat in France in 1800.
                            One of 200 schools in 40 countries, Stuartholme was established in 1920 with just five young girls in March and another two in August.</p>
                        </div>

                        <p>During World War II, Stuartholme became the 42nd General Hospital of the United States Army. Unfortunately, it was not possible for students to stay at the School, so the School was packed up and moved firstly to Canungra and
                        then at Southport.</p>
                        <p>For much of its history, Stuartholme operated as a boarding school only. Although the School now caters for both day and boarding students it remains Brisbane’s only Catholic girls’ boarding school.</p>
                        <p>As our School population has grown over the years, the facilities have also developed. The Library was built in 1986 and replaced the wartime structure left by the United States Army. The Spruson Building was added in 1992
                            and work began in 2002 on the multi-purpose Joigny Performing Arts Centre which replaced the old nurses’ quarters erected in 1942. Sporting facilities have been developed over time, with the most notable additions being
                        the five tennis courts, oval and Aquatic Precinct.</p>

                        <div class="campus-map mt-lg-5 mt-4 mb-lg-5 mb-4">
                            <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">View The Campus Map</a>
                        </div>

                        <div class="gbs-media">
                            <%= image_tag("student-running.jpg", alt: "") %>
                        </div>


                        <div class="highlighted-text">
                            <p>The topic of co-educational versus single sex education continues to be heavily debated by psychologists, scientists, journalists and graduates sharing their own experiences. Based on over 95 years of experience specialising
                            in the education of girls, we believe there are many advantages to choosing an all-girls’ school.</p>
                        </div>

                        <p>The charism, or mission, of the Sacred Heart Sisters is to discover and make known the love of God, and reveal it to the world through the service of education.</p>
                        <p>The Religious of the Sacred Heart sign their names followed by rscJ, which is derived from the French term Religieuses du Sacré-Coeur de Jésus.</p>
                        <p>Stuartholme School is blessed to still have the rscJ actively involved in the daily life of the School. We are indebted to the Sisters who provide strong links to the Sacred Heart charism.</p>
                        <p>Stuartholme School is blessed to have Sister Rita Carroll rscJ as our devoted Chaplain. As an rscJ, Sister Carroll works in collaboration with the School Board and Leadership Team, providing spiritual and educational guidance
                        for Stuartholme.</p>
                        <p>Find out more about the rscJ and the Society of the Sacred Heart:</p>

                        <ul class="anchors-point">
                            <li><a href="#">Society of the Sacred Heart in Australia and New Zealand</a></li>
                            <li><a href="#">rscJ International</a></li>
                        </ul>

                    </div>
                </div>

                <aside class="col-xl-3 col-lg-4 col-md-4">
                    <div class="sticky-top">
                        <div class="quick-navs">
                            <ul>
                                <li><a href="#">Principal's Welcome</a></li>
                                <li><a href="#">Why GBS?</a></li>
                                <li><a href="#">Our Philosophy</a></li>
                                <li class="active"><a href="#">History</a></li>
                                <li><a href="#">Location & Facilities</a></li>
                                <li><a href="#">Leadership Team</a></li>
                                <li><a href="#">School Policies</a></li>
                                <li><a href="#">Video Gallery</a></li>
                            </ul>
                        </div>
                    </div>

                </aside>
                <!-- @end side navs -->
            </div>
        </div>
    </div>
</section>


<section>
    <div class="tour-categories section-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="enrol-now tour-box position-relative">
                        <div class="tour-image default-overlay">
                            <%= image_tag("enroll-now.jpg", alt: "") %>
                        </div>
                        <div class="tour-text">
                            <div class="tour text-center">
                                <h3>Enrol Now</h3>
                                <p>Learn everything you need to know about enrolling your daughter.</p>
                                <div class="enrol-action">
                                    <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">Enrolment Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- @end enrol -->


                <div class="col-md-6">
                    <div class="book-your-tour tour-box position-relative">
                        <div class="tour-image default-overlay">
                            <%= image_tag("take-tour.jpg", alt: "") %>
                        </div>
                        <div class="tour-text">
                            <div class="tour text-center">
                                <h3>Book a Tour</h3>
                                <p>Learn everything you need to know about enrolling your daughter.</p>
                                <div class="enrol-action">
                                    <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">Register Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- @end enrol -->


            </div>
        </div>
    </div>
</section>