
<section>
    <div class="gbs-video-home position-relative">
        <div class="video-home position-relative">
            <%= image_tag("about-banner.jpg", alt: "") %>
        </div>
        <div class="banner-content inner-banner-content text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-caption">
                            <div class="page-heading">
                                <h2>Location And Facilities</h2>
                            </div>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb custom-breadcrumb bg-transparent d-flex m-0 p-0 justify-content-center">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Location &amp; Facilities</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="gbs-top-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-8">
                    <div class="about-text">
                        <div class="gbs-media">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <%= image_tag("classmates-students.jpg", alt: "") %>
                                    </div>
                                    <div class="carousel-item">
                                        <%= image_tag("gbs-students.jpg", alt: "") %>
                                    </div>
                                    <div class="carousel-item">
                                        <%= image_tag("student-running.jpg", alt: "") %>
                                    </div>
                                </div>
                                <div class="slider-arrow">
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="highlighted-text">
                            <p>GBS School is an international School of the Sacred Heart. The Society of the Sacred Heart is an international congregation of Catholic religious women, established by Saint Madeleine Sophie Barat in France in 1800. One
                            of 200 schools in 40 countries, GBS was established in 1920 with just five young girls in March and another two in August.</p>
                        </div>

                        <p>During World War II, GBS became the 42nd General Hospital of the United States Army. Unfortunately, it was not possible for students to stay at the School, so the School was packed up and moved firstly to Canungra and then
                        at Southport.</p>

                        <div class="campus-map mt-lg-5 mt-4 mb-lg-5 mb-4">
                            <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">View Our Location</a>
                        </div>

                        <div class="gbs-facilities mt-lg-4 mt-3 d-inline-block">
                            <ul>
                                <li>
                                    <div class="row align-items-center">
                                        <div class="col-lg-5">
                                            <div class="facility-img">
                                                <%= image_tag("sports.jpg", alt: "") %>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="facility-text">
                                                <h4>Sports</h4>
                                                <p>GBS has a comprehensive range of sporting facilities. The grassed oval &amp; Aquatic Precinct together with five tennis courts (some being marked for netball &amp; basketball) are available for students
                                                to use whilst participating in some of the 47 co-curricula activities on offer. The nearby Brisbane River also offers a superb training site for rowing.</p>
                                                <div class="campus-map mt-lg-4 mt-3">
                                                    <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">View The campus map</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="row align-items-center">
                                        <div class="col-lg-7">
                                            <div class="facility-text">
                                                <h4>Fine &amp; Performing Arts</h4>
                                                <p>GBS has a comprehensive range of sporting facilities. The grassed oval &amp; Aquatic Precinct together with five tennis courts (some being marked for netball &amp; basketball) are available for students
                                                to use whilst participating in some of the 47 co-curricula activities on offer. The nearby Brisbane River also offers a superb training site for rowing.</p>
                                                <div class="campus-map mt-lg-4 mt-3">
                                                    <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">View The campus map</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="facility-img">
                                                <%= image_tag("fine-art-programing.jpg", alt: "") %>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="row align-items-center">
                                        <div class="col-lg-5">
                                            <div class="facility-img">
                                                <%= image_tag("library.jpg", alt: "") %>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="facility-text">
                                                <h4>Library</h4>
                                                <p>GBS has a comprehensive range of sporting facilities. The grassed oval &amp; Aquatic Precinct together with five tennis courts (some being marked for netball &amp; basketball) are available for students
                                                to use whilst participating in some of the 47 co-curricula activities on offer. The nearby Brisbane River also offers a superb training site for rowing.</p>
                                                <div class="campus-map mt-lg-4 mt-3">
                                                    <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">View The campus map</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="row align-items-center">
                                        <div class="col-lg-7">
                                            <div class="facility-text">
                                                <h4>Virtual Tour</h4>
                                                <p>GBS has a comprehensive range of sporting facilities. The grassed oval &amp; Aquatic Precinct together with five tennis courts (some being marked for netball &amp; basketball) are available for students
                                                to use whilst participating in some of the 47 co-curricula activities on offer. The nearby Brisbane River also offers a superb training site for rowing.</p>
                                                <div class="campus-map mt-lg-4 mt-2">
                                                    <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">Take The Virtual Tour</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="facility-img">
                                                <%= image_tag("virtual-tour.jpg", alt: "") %>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>


                    </div>
                </div>

                <aside class="col-xl-3 col-lg-4 col-md-4">
                    <div class="sticky-top">
                        <div class="quick-navs">
                            <ul>
                                <li><a href="#">Principal's Welcome</a></li>
                                <li><a href="#">Why GBS?</a></li>
                                <li><a href="#">Our Philosophy</a></li>
                                <li><a href="#">History</a></li>
                                <li class="active"><a href="#">Location & Facilities</a></li>
                                <li><a href="#">Leadership Team</a></li>
                                <li><a href="#">School Policies</a></li>
                                <li><a href="#">Video Gallery</a></li>
                            </ul>
                        </div>
                    </div>

                </aside>
                <!-- @end side navs -->
            </div>
        </div>
    </div>
</section>


<section>
    <div class="tour-categories section-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="enrol-now tour-box position-relative">
                        <div class="tour-image default-overlay">
                            <%= image_tag("enroll-now.jpg", alt: "") %>
                        </div>
                        <div class="tour-text">
                            <div class="tour text-center">
                                <h3>Enrol Now</h3>
                                <p>Learn everything you need to know about enrolling your daughter.</p>
                                <div class="enrol-action">
                                    <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">Enrolment Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- @end enrol -->


                <div class="col-md-6">
                    <div class="book-your-tour tour-box position-relative">
                        <div class="tour-image default-overlay">
                            <%= image_tag("take-tour.jpg", alt: "") %>
                        </div>
                        <div class="tour-text">
                            <div class="tour text-center">
                                <h3>Book a Tour</h3>
                                <p>Learn everything you need to know about enrolling your daughter.</p>
                                <div class="enrol-action">
                                    <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">Register Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- @end enrol -->


            </div>
        </div>
    </div>
</section>