
<section>
    <div class="gbs-video-home position-relative">
        <div class="video-home position-relative">
            <%= image_tag("about-banner.jpg", alt: "") %>
        </div>
        <div class="banner-content inner-banner-content text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-caption">
                            <div class="page-heading">
                                <h2>Our Philosophy</h2>
                            </div>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb custom-breadcrumb bg-transparent d-flex m-0 p-0 justify-content-center">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">our philosophy</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="gbs-top-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-8">
                    <div class="about-text">
                        <div class="gbs-media">
                            <%= image_tag("gbs-students.jpg", alt: "") %>
                        </div>

                        <div class="highlighted-text">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi molestiae necessitatibus cupiditate fuga adipisci molestias quos veniam cum quo non provident, aliquid voluptatum eos distinctio facilis soluta quia minus
                            porro? cupiditate fuga adipisci molestias quos veniam cum quo non provident.</p>
                        </div>

                        <p><strong>The five Goals of Sacred Heart Education are:</strong></p>

                        <ul>
                            <li class="text-block">
                                <h4>1. A personal and active faith in God</h4>
                                <p>It is important to acknowledge the spiritual dimensions in oneself and others. We aim to build a solid foundation holding true to the teachings of Jesus Christ. Stuartholme applies these teachings into our everyday
                                    school-life, and each girl is invited to discern their own personal integrity. The school fosters a sense of community where faith is expressed and supported. Regular opportunities are provided for participation
                                in the Eucharist, prayers, liturgies, retreats and assemblies.</p>
                                <p>Students may also participate in the Sacramental Program, which prepares them for Confirmation and First Communion.</p>
                            </li>

                            <li class="text-block">
                                <h4>2. A deep respect for intellectual values</h4>
                                <p>One of the most important values of Madeleine Sophie Barat is the importance of lifelong education. Intellectual values encompass more than academic learning, it also includes emotional and spiritual intelligences;
                                as well as kinesthetic, spirtual and visual learning, creativity, collaboration, cirtical thinking and communiciation which are all foundational to all high order thinking.</p>
                                <p>Stuartholme School focuses on encouraging each student to understand that learning involves many experiences and hard work within and beyond the classroom.</p>
                                <p>Our school hosts an extensive and well-rounded curriculum program which each individual girl is focused upon and is encouraged to personally achieve her full potential.</p>
                            </li>


                            <li class="text-block">
                                <h4>3. Building community as a Christian value</h4>
                                <p>Our sense of community is greatly treasured by our students, staff, parents and alumnae. We are an inclusive community where everyone’s dignity is honoured. Our genuine and authentic relationships affirm indivduality
                                    and self-belief yet enhance our understanding of interdependence and a highly relational style of education. The Gospel teaching “Love one another” is fulfulled in our Sacred Heart expression “come as you are and
                                you are cared for with great love”</p>
                                <p>Our sense of belonging, our kindness and mutuality is palpable and readily expressed in the many ways we build community.</p>
                            </li>

                            <li class="text-block">
                                <h4>4. A social awareness that impels to action</h4>
                                <p>Our ambitious social justice programs are where our faith meets our intellect. Teachers and students educate one another to be critical thinkers of unjust social norms and practices. Our students are challenged to develop
                                their competencies of compassion, with an innate understanding justice begins in their everyday relationships and interaction. Compassion requires empathy, a critical awareness and then informed action.</p>
                                <p>We want our Stuartholme girls to step out into the broader community as capable, confident and compassionate leaders who can transform their world – to make a difference</p>
                            </li>

                            <li class="text-block">
                                <h4>5. Personal growth in an atmosphere of wise freedom</h4>
                                <p>This goal is unique to the Sacred Heart ethos. The oxymoron of “wise freedom” inspires our girls to be self-reflective, well-educated and free to choose who they want to be. We do not have a mold nor a stereotype, we
                                    respect and empower the individuality of each member of our community. Our school recognises the importance of teaching the girls the importance of self-belief. At Stuartholme we aim to encourage each girl to identify,
                                develop and understand her own distinctive strengths and her own personal integrity.</p>
                            </li>
                        </ul>

                        <div class="gbs-media">
                            <%= image_tag("student-running.jpg", alt: "") %>
                        </div>


                        <div class="highlighted-text">
                            <p>The topic of co-educational versus single sex education continues to be heavily debated by psychologists, scientists, journalists and graduates sharing their own experiences. Based on over 95 years of experience specialising
                            in the education of girls, we believe there are many advantages to choosing an all-girls’ school.</p>
                        </div>

                        <ul>
                            <li class="text-block">
                                <h4>Equal opportunity and every opportunity</h4>
                                <p>Each subject and activity offered at Stuartholme is available to every girl. There is no gender stereotyping, particularly with relation to subject selection and co-curricula offering. Every girl is able and encouraged
                                to explore a career, or future in the area of her choice.</p>
                            </li>
                            <li class="text-block">
                                <h4>Permitted to question</h4>
                                <p>Through the Sacred Heart Goal of a personal growth in an atmosphere of wise freedom, Stuartholme aims to empower the girls to think for themselves. We value the importance of well-informed and discerned opinions and
                                    encourage the girls to investigate and question conventional trains of thought. Risk taking and competitive traits are advantageous skills for leadership in many careers, and girls need to be in an uninhibited environment
                                to allow these attributes to develop.</p>
                            </li>
                            <li class="text-block">
                                <h4>Confidence to lead</h4>
                                <p>From the Cor Unum Committee, Blue and Green Ribbons, House Captains, Co-curricula Captains and Boarding House Captains, all leadership roles within our School are filled by the girls. Our hope is that younger students
                                see these female leaders as role models, and quickly learn that girls can lead in any field.</p>
                            </li>
                            <li class="text-block">
                                <h4>Positive self-image</h4>
                                <p>Stuartholme aims to produce graduates who are comfortable with themselves by providing an atmosphere in which girls are free to work through the challenges of adolescence without fear of embarrassment or harassment.
                                    Personal development programs and Health and Physical Education classes include specific programs designed to counteract negative body imagery and the stereotypical ideals of how girls and women are portrayed in
                                the media.</p>
                            </li>
                            <li class="text-block">
                                <h4>Lifelong friendships</h4>
                                <p>Whilst Stuartholme girls have many opportunities to mix with boys during interschool activities and social settings throughout the year, nothing compares to the bonds formed by establishing a strong network of lifelong
                                female friends.</p>
                            </li>
                            <li class="text-block">
                                <h4>Global citizens</h4>
                                <p>As an International Sacred Heart School, Stuartholme prepares our students to be citizens of the world by forming connections with girls in other countries through exchange programs. There is also an emphasis on social
                                justice and local community where girls are encouraged to make connections with others beyond the classroom.</p>
                            </li>
                            <li class="text-block">
                                <h4>Empowered to achieve</h4>
                                <p>By the end of their final year, each girl has developed the assurance to learn and achieve in any field. They have developed the necessary skills to become confident, compassionate and capable women.</p>
                            </li>
                        </ul>

                    </div>
                </div>

                <aside class="col-xl-3 col-lg-4 col-md-4">
                    <div class="sticky-top">
                        <div class="quick-navs">
                            <ul>
                                <li><a href="#">Principal's Welcome</a></li>
                                <li><a href="#">Why GBS?</a></li>
                                <li class="active"><a href="#">Our Philosophy</a></li>
                                <li><a href="#">History</a></li>
                                <li><a href="#">Location & Facilities</a></li>
                                <li><a href="#">Leadership Team</a></li>
                                <li><a href="#">School Policies</a></li>
                                <li><a href="#">Video Gallery</a></li>
                            </ul>
                        </div>
                    </div>

                </aside>
                <!-- @end side navs -->
            </div>
        </div>
    </div>
</section>


<section>
    <div class="tour-categories section-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="enrol-now tour-box position-relative">
                        <div class="tour-image default-overlay">
                            <%= image_tag("enroll-now.jpg", alt: "") %>
                        </div>
                        <div class="tour-text">
                            <div class="tour text-center">
                                <h3>Enrol Now</h3>
                                <p>Learn everything you need to know about enrolling your daughter.</p>
                                <div class="enrol-action">
                                    <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">Enrolment Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- @end enrol -->


                <div class="col-md-6">
                    <div class="book-your-tour tour-box position-relative">
                        <div class="tour-image default-overlay">
                            <%= image_tag("take-tour.jpg", alt: "") %>
                        </div>
                        <div class="tour-text">
                            <div class="tour text-center">
                                <h3>Book a Tour</h3>
                                <p>Learn everything you need to know about enrolling your daughter.</p>
                                <div class="enrol-action">
                                    <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">Register Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- @end enrol -->


            </div>
        </div>
    </div>
</section>