
<header>
  <div class="header-bottom sticky-bar blue-header clearfix">
    <div class="container-fluid">
      <div class="row align-items-center">

        <div class="col-lg-2 col-md-6 col-4">
          <div class="gbs-logo">
            <%= link_to root_path do %>
              <%= image_tag("GBS-logo.png", alt: "") %>
            <% end %>
          </div>
        </div>
        <!-- @logo end -->

        <div class="col-lg-10 col-md-6 col-8">
          <div class="menu-cart-wrap">
            <div class="main-menu meanmenu position-relative">
              <a href="#" class="meanmenu-reveal"><span></span><span></span><span></span></a>
              <nav id="mobile-menu-active">
                <ul>

                  <li><a href="about-us.html">Our School</a>
                    <i class="fa fa-angle-down more closed"></i>
                    <ul class="submenu">
                      <li>
                        <%= link_to "Principal’s Welcome", principals_welcome_path %>
                      </li>
                      <li>
                        <%= link_to 'Why GBS?', about_us_path %>
                      </li>
                      <li>
                        <%= link_to 'Our Philosophy', our_philosophy_path %>
                      </li>
                      <li>
                        <%= link_to 'History', history_path %>
                      </li>
                      <li>
                        <%= link_to 'Location &amp; Facilities'.html_safe, location_and_facilities_path %>
                      </li>
                      <li>
                        <%= link_to 'Leadership Team', leadership_team_path %>
                      </li>
                      <li>
                        <%= link_to 'School Policies', school_policies_path %>
                      </li>
                      <li>
                        <%= link_to 'Video Gallery', video_gallery_path %>
                      </li>
                    </ul>
                  </li>

                  <li><a href="about-us.html">Beyond The Classroom</a>
                    <i class="fa fa-angle-down more closed"></i>
                    <ul class="submenu">
                      <li><%= link_to 'Sport', sport_path %></li>
                      <li><%= link_to 'Curriculum', curriculum_path %></li>
                      <li><%= link_to 'Arts', art_path %></li>
                      <li><%= link_to 'Exchange Program', exchange_program_path %></li>
                      <li><%= link_to 'Study Tours', study_tour_path %></li>

                    </ul>
                  </li>

                  <li><a href="about-us.html">Enroll</a>
                    <i class="fa fa-angle-down more closed"></i>
                    <ul class="submenu">
                      <li><a href="course.html">Indoor Games</a></li>
                      <li><a href="course.html">Outdoor Games</a></li>
                    </ul>
                  </li>

                  <li><a href="about-us.html">Learning</a>
                    <i class="fa fa-angle-down more closed"></i>
                    <ul class="submenu">
                      <li><a href="course.html">Curriculum Framework</a></li>
                      <li><a href="course.html">Vocational Education</a></li>
                      <li><a href="course.html">Careers Program</a></li>
                      <li><a href="course.html">Academic Enrichment & Extension</a></li>
                    </ul>
                  </li>

                  <li><a href="about-us.html">Our Community</a>
                    <i class="fa fa-angle-down more closed"></i>
                    <ul class="submenu">
                      <li><a href="course.html">Past Student</a></li>
                      <li><a href="course.html">Give</a></li>
                      <li><a href="course.html">Foundation</a></li>
                      <li><a href="course.html">Partners</a></li>
                      <li><a href="course.html">Pay Online</a></li>
                      <li><a href="course.html">Bus Network</a></li>
                    </ul>
                  </li>

                  <li><a href="about-us.html">News & Events</a>
                    <i class="fa fa-angle-down more closed"></i>
                    <ul class="submenu">
                      <li><a href="course.html">Upcoming Events</a></li>
                      <li><a href="course.html">News</a></li>
                    </ul>
                  </li>
                  <li><a href="about-us.html">Career</a></li>
                  <li><a href="about-us.html">Contact Us</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>